body {
	background-color: rgb(125, 190, 255);
	height: 1000px;
}


#nav-bar {
	box-sizing: border-box;
	background-color: rgb(125, 190, 255);
	width: 99%;
	margin: auto;
	position: fixed;
	top: 0px;
	z-index: 2;
}


#pmenu {
	display: inline-block;
	margin: 0px -2px;
	padding: 10px 20px;
	text-transform: uppercase;
	font-family: "Indie Flower", cursive;
	font-weight: bold;
	font-size: 2em;
}

.fa-fish {
	padding-right: 5px;
	font-size: 2empx;
}

a {
	display: inline-block;
	margin: 0px -2px;
	padding: 20px 20px;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.2em;
	color: black;
}

a:hover {
	text-decoration: underline;
}

#leftTab {
	display: inline-block;
}

#rightTab {
	display: inline-block;
	float: right;
}

#ede {
	width: 50%;
	margin: auto;
	background-color: transparent;
	text-align: center;
}

#headline {
	margin-top: 115px;
}

@media screen and (max-width: 650px) {
	#headline {
		margin-top: 200px;
	}
}

#email {
	height: 1.5em;
	width: 200px;
}

input::placeholder {
		font-family: "Indie Flower", cursive;
		padding-left: 3px;
}

@media screen and (max-width: 400px) {
	#email {
		width: 100px;
	}
}

#submit {
	display: block;
	margin: auto;
	margin-top: 5px;
	background-color: yellow;
	padding: 5px 30px;
}

#submit:hover {
	background-color: orange;
	cursor: pointer;
}

#features {
	margin-top: 50px;
}

h2 {
	padding: 0px;
	margin-bottom: 4px;
	background-color: transparent;
}

h2 .fas {
	display: inline-block;
	z-index: 1;
	opacity: 0.5;
}

#pgraphs {
	background: transparent;
	width: 60%;
	margin: auto;
}

#pgraphs p {
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	text-align: justify;
}

#videodiv {
	margin-top: 60px;
}
 
 
#flexcon {
	margin-top: 50px !important;
	width: 70%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 120px;
}

#box1, #box2, #box3 {
	box-sizing: border-box;
	width: 200px; 
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

li {
	list-style-type: none;
	text-align: left;
	padding-top: 10px;
	margin-left: -30px;
}

.butt {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.begyh {
	width: 100%;
	height: auto;
	text-align: center;
	background-color: rgb(53, 154, 255);
	margin: 0px;
	padding: 10px 0;
}

#box3div {
	width: 100%;
}

img {
	margin-top: 10px;
	max-width: 100%;
}

button {
	display: block;
	margin: auto;
	margin-top: 15px;
	background-color: yellow;
	padding: 5px 30px;
}

button:hover {
	background-color: orange;
	cursor: pointer;
}

#contfoot {
	width: 85%;
	margin: auto;
	height: auto;
	background-color: rgb(53, 154, 255);
}

#footright {
	text-align: center;
}

.upper {
	margin: 0px;
}

#footright a {
	padding: 5px 8px;
}

@media screen and (max-device-width: 768px) {
	#leftTab {
		font-size: 50px;
		margin-bottom: 0;
		padding-top: 30px;
		line-height: 60px;
	}
	
	#header-img {
		height: 60px;
		margin: auto;
		width: auto;
	}
	
	#rightTab {
		font-size: 50px;
		margin: 0 10px 15px 0;
		padding-top: 0;
	}
		
	#ede {
		margin-top: 300px;
		width: 100%;
	}
	
	#headline {
		width: 80%;
		margin: auto;
		font-size: 40px;
	}
	
	#pgraphs {
		width: 95%;
		margin: auto;
	}
	
	#pgraphs p {
		font-size: 12px;
	}
	
	#pgraphs span {
		padding-right: 45px;
	}
	
	#pgraphs ph2 {
		margin-bottom: 15px;
	}
	
	#email {
		width: 60%;
		height: 50px;
	}

	input::placeholder {
		font-family: "Indie Flower", cursive;
		font-size: 35px;
		padding-left: 3px;
}


	#submit {
		display: block;
		width: 30%;
		height: 50px;
		margin: auto;
		margin-top: 10px;
		font-size: 35px;
		background-color: yellow;
		padding: 5px 30px;
	}

	#intro {
		margin-top: 100px;
		margin-bottom: 100px;
	}
	
	#iframe {
		width: 100%;
		height: auto;
	}
	
	#flexcon {
		margin-top: 40px !important;
		width: 100%;
		margin: auto;
		display: inline-block;
		margin-bottom: 120px;	
	}
	
	#box1, #box2, #box3 {
		width: 70%;
		height: auto;
		margin: auto;
		box-sizing: border-box;
		border: 2px solid rgb(53, 154, 255);
		margin-bottom: 60px;
	}
	
	.begyh {
		font-size: 50px;
	}

	#box3div h4 {
		font-size: 45px;
	}
	
	#flexcon p {
		font-size: 35px;
		width: 90%;
	}
	
	ul {
		width: 90%;
		margin: auto;
		margin-bottom: 50px;
	}
	
	li {
		font-size: 35px;
	}
	
	.image {
		width: 50vw;
		height: auto;
	}
	
	.butt {
		width: 100%;
	}
	
	button {
		width: 30%;
		height: 50px;
		margin: auto;
		margin-bottom: 30px;
		font-size: 35px;
		background-color: yellow;
		padding: 5px 30px;
	}
	
	#footright a {
		font-size: 36px;
	}
	
	#footright p {
		font-size: 10px;
	}		
}
