body {
	background-color: rgb(125, 190, 255);
	height: 1000px;
}


#nav-bar {
	box-sizing: border-box;
	background-color: rgb(125, 190, 255);
	width: 99%;
	margin: auto;
	position: fixed;
	top: 0px;
	z-index: 2;
}


#pmenu {
	display: inline-block;
	margin: 0px -2px;
	padding: 10px 20px;
	text-transform: uppercase;
	font-family: "Indie Flower", cursive;
	font-weight: bold;
	font-size: 2em;
}

.fa-fish {
	padding-right: 5px;
	font-size: 2empx;
}

a {
	display: inline-block;
	margin: 0px -2px;
	padding: 20px 20px;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.2em;
	color: black;
}

a:hover {
	text-decoration: underline;
}

#leftTab {
	display: inline-block;
}

#rightTab {
	display: inline-block;
	float: right;
}

#ede {
	width: 50%;
	margin: auto;
	background-color: transparent;
	text-align: center;
}

#headline {
	margin-top: 115px;
}

@media screen and (max-width: 650px) {
	#headline {
		margin-top: 200px;
	}
}

#email {
	height: 1.5em;
	width: 200px;
}

input::placeholder {
		font-family: "Indie Flower", cursive;
		padding-left: 3px;
}

@media screen and (max-width: 400px) {
	#email {
		width: 100px;
	}
}

#submit {
	display: block;
	margin: auto;
	margin-top: 5px;
	background-color: yellow;
	padding: 5px 30px;
}

#submit:hover {
	background-color: orange;
	cursor: pointer;
}

#features {
	margin-top: 50px;
}

h2 {
	padding: 0px;
	margin-bottom: 4px;
	background-color: transparent;
}

h2 .fas {
	display: inline-block;
	z-index: 1;
	opacity: 0.5;
}

#pgraphs {
	background: transparent;
	width: 60%;
	margin: auto;
}

#pgraphs p {
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	text-align: justify;
}

#videodiv {
	margin-top: 60px;
}

iframe {
    max-width: 500px;
    width: 100%;
  }
  
 
#flexcon {
	margin-top: 50px !important;
	width: 70%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 120px;
}

#box1, #box2, #box3 {
	box-sizing: border-box;
	width: 200px; 
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

li {
	list-style-type: none;
	text-align: left;
	padding-top: 10px;
	margin-left: -30px;
}

.butt {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.begyh {
	width: 100%;
	height: auto;
	text-align: center;
	background-color: rgb(53, 154, 255);
	margin: 0px;
	padding: 10px 0;
}

#box3div {
	width: 100%;
}

img {
	margin-top: 10px;
	max-width: 100%;
}

button {
	display: block;
	margin: auto;
	margin-top: 15px;
	background-color: yellow;
	padding: 5px 30px;
}

button:hover {
	background-color: orange;
	cursor: pointer;
}

#contfoot {
	width: 85%;
	margin: auto;
	height: auto;
	background-color: rgb(53, 154, 255);
}

#footright {
	text-align: center;
}

.upper {
	margin: 0px;
}

#footright a {
	padding: 5px 8px;
}
